.footer-custom{
    background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt0060849db5c9144a/62bdda094673394f64680347/00_Header_SG2.jpg?quality=90&width=460");

    height:auto;
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
    }
}